<a href="{{section.settings.icons_url}}" class="icon_classs">
<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewbox="0 0 30 31" fill="none">
    <path d="M10 4.35352C6.54875 4.35352 3.75 7.15227 3.75 10.6035V20.6035C3.75 24.0548 6.54875 26.8535 10 26.8535H20C23.4513 26.8535 26.25 24.0548 26.25 20.6035V10.6035C26.25 7.15227 23.4513 4.35352 20 4.35352H10ZM22.5 6.85352C23.19 6.85352 23.75 7.41352 23.75 8.10352C23.75 8.79352 23.19 9.35352 22.5 9.35352C21.81 9.35352 21.25 8.79352 21.25 8.10352C21.25 7.41352 21.81 6.85352 22.5 6.85352ZM15 9.35352C18.4513 9.35352 21.25 12.1523 21.25 15.6035C21.25 19.0548 18.4513 21.8535 15 21.8535C11.5487 21.8535 8.75 19.0548 8.75 15.6035C8.75 12.1523 11.5487 9.35352 15 9.35352ZM15 11.8535C14.0054 11.8535 13.0516 12.2486 12.3483 12.9519C11.6451 13.6551 11.25 14.609 11.25 15.6035C11.25 16.5981 11.6451 17.5519 12.3483 18.2552C13.0516 18.9584 14.0054 19.3535 15 19.3535C15.9946 19.3535 16.9484 18.9584 17.6517 18.2552C18.3549 17.5519 18.75 16.5981 18.75 15.6035C18.75 14.609 18.3549 13.6551 17.6517 12.9519C16.9484 12.2486 15.9946 11.8535 15 11.8535Z" fill="#3D3D3D"></path>
  </svg>
  </a>
  <a href="{{section.settings.icons_url1}}" class="icon_classs">
  <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewbox="0 0 31 31" fill="none">
    <path d="M15.75 3.10352C8.84625 3.10352 3.25 8.69977 3.25 15.6035C3.25 21.8698 7.86625 27.0448 13.8813 27.9485V18.916H10.7888V15.6298H13.8813V13.4435C13.8813 9.82352 15.645 8.23477 18.6537 8.23477C20.095 8.23477 20.8563 8.34102 21.2175 8.38977V11.2573H19.165C17.8875 11.2573 17.4412 12.4685 17.4412 13.8335V15.6298H21.185L20.6775 18.916H17.4425V27.9748C23.5438 27.1485 28.25 21.931 28.25 15.6035C28.25 8.69977 22.6537 3.10352 15.75 3.10352Z" fill="#3D3D3D"></path>
  </svg>
  </a>
  <a href="{{section.settings.icons_url2}}" class="icon_classs">
  <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewbox="0 0 31 31" fill="none">
    <path d="M15.5 3.10352C8.59625 3.10352 3 8.69977 3 15.6035C3 20.8998 6.295 25.4223 10.945 27.2435C10.8362 26.2548 10.7362 24.7373 10.9887 23.6585C11.2162 22.6835 12.4537 17.4448 12.4537 17.4448C12.4537 17.4448 12.08 16.696 12.08 15.5898C12.08 13.851 13.0875 12.5548 14.3412 12.5548C15.4075 12.5548 15.9225 13.356 15.9225 14.3148C15.9225 15.3873 15.24 16.991 14.8875 18.476C14.5925 19.721 15.5113 20.7348 16.7388 20.7348C18.96 20.7348 20.6675 18.3923 20.6675 15.011C20.6675 12.0185 18.5175 9.92602 15.4462 9.92602C11.89 9.92602 9.8025 12.5935 9.8025 15.351C9.8025 16.4248 10.2162 17.5773 10.7325 18.2035C10.835 18.3273 10.8488 18.436 10.8188 18.5623C10.7238 18.9573 10.5138 19.806 10.4725 19.9798C10.4188 20.2085 10.2913 20.2573 10.055 20.146C8.49375 19.4185 7.5175 17.136 7.5175 15.3035C7.5175 11.361 10.3825 7.73852 15.7775 7.73852C20.1138 7.73852 23.4837 10.8285 23.4837 14.9585C23.4837 19.2673 20.7675 22.7335 16.9975 22.7335C15.7312 22.7335 14.54 22.0748 14.1325 21.2985C14.1325 21.2985 13.505 23.6848 13.3538 24.271C13.0712 25.356 12.31 26.7185 11.8 27.5485C12.9688 27.9073 14.2113 28.1035 15.5 28.1035C22.4025 28.1035 28 22.506 28 15.6035C28 8.70102 22.4037 3.10352 15.5 3.10352Z" fill="black"></path>
  </svg>
  </a>
  