{{ 'multiple-image-with-text.css' | asset_url | stylesheet_tag }}

<div class="multiple-image-with-text">
  <h3 class="font_22-32 center heading">{{ section.settings.heading }}</h3>
  {% for image in product.metafields.custom.reason_to_love_image.value %}
    {% assign dynamic_key = 'reason_to_love_content_' | append: forloop.index %}
    {% if product.metafields.custom[dynamic_key] != blank %}
      {% assign is_even = forloop.index | modulo: 2 %}
      <div class="image-with-text flex items-center{% if is_even == 1 %} flex-row{% else %} flex-row-reverse{%endif %}">
        <div>
          {% render 'responsive-image', class:'media media--landscape', mobileImage: image, desktopImage: image %}
        </div>
        <div>
          {{ product.metafields.custom[dynamic_key] | metafield_tag }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Multiple Image with Text",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Why You’ll Love It"
    }
  ]
}
{% endschema %}
